<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {css href="__CSS__/bootstrap.min.css"}
    {css href="__CSS__/style.css"}
</head>

<style>
    .prompt{
        width: 200px;
        height: 30px;
        margin-left: 400px;
        /* background-color: #00f; */
        line-height: 30px;
        color: red;
        font-size: 16px;

    }
</style>

<body>
<!-- 导航 -->
<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Welcome</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <!-- <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul> -->



        <form class="navbar-form navbar-left">
          <!-- <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button> -->
         
        </form>



        <ul class="nav navbar-nav navbar-right">

          <!-- <li><a href="#">孙华江</a></li> -->

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">name <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">个人中心</a></li>
              <li><a href="#">退出管理</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>

        </ul>



      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>






    <div class="container ">
        <div class="row">
            <div class="col-md-3 siadebar">
                <div class="btn btn-info user">用户管理</div>
                <!-- <div class="btn btn-info">喜好管理</div>
                <div class="btn btn-info">书籍管理</div>
                <div class="btn btn-info">角色管理</div> -->
                <div class="btn btn-info auth">权限管理</div>
            </div>

            <div class="col-md-4  main" style="margin-left: 80px;">
                <!-- 添加用户 -->
                <form action="{:url('/user/'.$obj.id)}" method="POST" class="form-horizontal">
                    <input type="hidden" name="_method" value="put">

                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">用户名：</label>
                        <div class="col-sm-8">
                            <input type="text" disabled value="{$obj.username}" class="form-control" id="username" name="username" >
                        </div>

                        <div class="prompt">
                           {$data.username|default=""}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newpassword" class="col-sm-4 control-label">新密码：</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="newpassword" name="newpassword"
                                placeholder="请输入密码">
                        </div>
                        <div class="prompt">
                            {$data.password|default=""}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newpasswordnot" class="col-sm-4 control-label">新密码确认：</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="newpasswordnot" name="newpasswordnot"
                                placeholder="确认密码">
                        </div>
                        <div class="prompt">
                            {$data.passwordnot|default=""}
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label">性别：</label>
                        <div class="col-sm-8">
                            <label class="radio-inline" >
                                <input type="radio" name="gender" id="man" value="男" {$obj.gender=='男'?'checked':''}> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="woman" value="女" {$obj.gender=='女'?'checked':''}> 女
                            </label>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">邮箱：</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="email" name="email" disabled value="{$obj.email}"
                                >
                        </div>
                        <div class="prompt">
                            {$data.email|default=""}
                        </div>
                    </div>

                    <div class="form-group">
                        
                        <div class="col-sm-offset-2 col-sm-6" style="margin-left: 60px;">
                            <label for="" class="pull-left">状态:</label>
                            <select name="status" id="status" class=" pull-left" style="margin-left: 37px; border-radius: 10%;">
                                <option value="0" {$obj.status=='待审核'?'selected':''}>待审核</option>
                                <option value="1" {$obj.status=='通过'?'selected':''}>通过</option>
                            </select>
                            <div class="prompt" style="margin-left: 320px;margin-top: -25px;">
                                {$data.agree|default=""}
                            </div>
                        </div>
                        <div class="col-sm-4 text-right " style=" margin-top:7px;">
                            <a href="{:url('/user')}"><small>返回列表</small></a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8" >
                            <input type="hidden" value="{:token()}" name="__token__">  
                            <!-- 表单令牌，防止别人伪造表单提交，需要开启Sesssion初始化 -->
                            <button class="btn btn-success btn-block">修改资料 </button>
                            
                        </div>
                        
                    </div>





                </form>

            </div>
        </div>
    </div>






    {js href="__JS__/jquery-1.10.1.min.js"}
    {js href="__JS__/bootstrap.min.js"}
    <script>
        $(function(){
  
          $(".user").click(function(){
            location.href='/user.html'
          })
          $(".auth").click(function(){
            location.href='/auth.html'
          })
  
  
  
        })
      </script>
</body>

</html>