{extend name='public/base'}

{block name='title'} 用户列表{/block}

{block name='madin'}

                <!-- 搜索表单 -->
                <form action="{:url('/user')}" class="form-inline">
                  <div class="form-group">

                      <label for="username">用户名:</label>


                      <input type="text" class="form-control" id="username" name="username" placeholder="查询的用户名">

                  </div>
                  <div class="form-group">

                      <label for="email">邮箱:</label>


                      <input type="text" class="form-control " id="email" name="email" placeholder="查询的邮箱">

                  </div>

                  <div class="form-group">
                      <label for="gender">性别：</label>
                      <select name="gender" id="gender" class="form-control">
                          <option value="" selected>选择性别</option>
                          <option value="男">男</option>
                          <option value="女">女</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <button class="btn btn-primary">搜索</button>
                      <a href="{:url('/user/create')}" class="btn btn-success">添加用户</a>

                  </div>
              </form>

              <!-- 数据列表 -->
              <table class="table table-bordered" style="margin-top: 1rem;" id="data-table">
                  <thead class="bg-light">
                      <th class="text-center">ID</th>
                      <th>用户名</th>
                      <th class="text-center">性别</th>
                      <th>邮箱</th>
                      <th class="text-center">状态</th>
                      <th class="text-center">
                          <a href="{:url('/user')}?create_time={$orderTime}" style="text-decoration: none;">创建时间
                              
                          </a>
                          <span class="{$orderTime=='desc'?'glyphicon glyphicon-menu-down':'glyphicon glyphicon-menu-up'}" aria-hidden="true"></span>
                      </th>
                      <th class="text-center">操作</th>
                  </thead>
                  <tbody>
                      {assign name='empty' value='<tr>
                          <td colspan="7" class="text-center text-muted">没有数据</td>
                      </tr>'}
                      {volist name='list' id='obj' empty='$empty'}
                      <tr>
                          <td class="text-center">{$obj.id}</td>
                          <td><span data-toggle="tooltip" data-placement='right' title="{$obj.hobby.content}">{$obj.username}</span></td>
                          <td class="text-center">{$obj.gender}</td>
                          <td>{$obj.email}</td>
                          <td class="text-center">
                              <span class="btn-xs btn-{$obj.badge}">{$obj.status}</span>
                          </td>
                          <td class="text-center">{$obj.create_time}</td>
                          <td class="text-center">
                              <form action="{:url('/user/'.$obj.id)}" method="post">
                                  <input type="hidden" name="_method" value="delete">
                                  <button class="btn btn-danger btn-sm" id="delete">删除</button>
                               
                                  <a href="{:url('/user/'.$obj.id.'/edit')}" class="btn btn-warning btn-sm" id="modify">修改</a>
                              </form>
                          </td>
                      </tr>
                      {/volist}
                  </tbody>

              </table>


              {$list|raw}


              {/block}


              {block name='js'}
              <script>
                $(function(){
        
                    $("#data-table").on('click','#delete',function(){
                        let flag=confirm('您真的要删除这个数据吗?');
                        return flag?true:false;
                    })
                    $('[data-toggle="tooltip"]').tooltip();
                    
                })
            </script>
             {/block}