<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {css href="__CSS__/bootstrap.min.css"}
    {css href="__CSS__/style.css"}
</head>
<body>
    
    <div class="container ">
        <div class="row">
            <div class="col-md-3 ">
                <div class="btn btn-info">用户管理</div>
            </div>
            <div class="col-md-9 ">
                <table class="table table-bordered">
                    <thead class="bg-light">
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>






    {js href="__JS__/jquery-1.10.1.min.js"}
    {js href="__JS__/bootstrap.min.js"}

</body>
</html>